.dialog {
  border-radius: 16px;
  padding: 8px 16px;
  margin: 8px 0;

  background: #eee;

  display: flex;
  flex-direction: column;

  * {
    margin: 8px;
  }

  span {
    text-align: end;
  }
}
